:root {
    --primaryColor: darkblue;
    --secondaryColor: lightblue;
    --lightColor: #ffffff;
    --bgColor-1: rgb(183, 213, 223);
    --bgColor-2: rgb(86, 161, 184);
    --padding: 8%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2.65rem;
    margin: 1.7rem 0;

}

h2 {
    font-size: 2.1rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: white;
}

h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

span {
    color: var(--bgColor-2)
}

p {
    color: var(--primaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;

}

.Home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}


nav {

    padding-top: 5.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a {
    color: var(--primaryColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover {
    color: var(--bgColor-2);
}

.content {
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts {
    position: relative;
    bottom: 70px;
}


.btn {
    background-color: rgb(17, 81, 128);
    color: var(--bgColor-2);
    text-decoration: var(--secondaryColor);
    font-weight: bold;
    padding: 0.60rem 1.40rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--bgColor-2);
}

.social {
    margin-top: 3.5rem;
}

.social img {
    margin-right: 0.8rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover {
    transform: scale(1.2);
}


.Home .container-img {
    width: 90%;
    height: 90%;
    position: relative;
    align-self: flex-end;

}

.Home .container-img img {
    position: absolute;
    bottom: -30%;
    height: 100%;
    left: 50%;



}


.about {
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-img {
    width: 75%;
}

.about .container-img img {
    width: 40%;
}

.about .container-texts {
    width: 35px;
}

.Hobbies {
    background-color: lightblue;
    padding: 2rem var(--padding);
}

.text-center {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-between;
}


.card {
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.card i {
    font-size: 2.12rem;
    text-align: center;
    color: #ffffff;
    margin: 2rem;
}


footer {
    padding: 2rem var(--padding);
    background-color: aliceblue;
    ;
}

footer .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p {
    color: rgb(102, 117, 125);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end {
    color: var(--primaryColor);
    margin-top: 1re, ;
}